@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  to { transform: rotate(360deg); }
}

.workspaces {
  padding: 4px;
  button {
    padding: 3.8px 8px;
  }
}

// Status bar
.right-widgets {
  padding: 2.5px;

  .status-bar {
    border-radius: 10px;

    .dnd {
      color: var(--light-5);
    }

    .notified {
      color: var(--orange-2);
    }

    &.suggested-action {
      .dnd {
        color: white;
      }
      .notified {
        color: white;
      }
    }
  }
}

.control-center {
  padding: 10px;

  .quick-settings {
    button {
      padding: 8px;
      padding-left: 20px;
      padding-right: 20px;

      .subtitle {
        font-size: 0.8em;
      }
    }
  }

  .notifications {
    .notification {
      padding: 8px;
      border-radius: 16px;
      background-color: var(--sidebar-bg-color);

      .app-box {
        label { // app name
          font-size: 0.8em;
        }
      }

      .title {
        font-size: 1.4em;
      }
    }
  }

  .action-bar {
    button .confirm {
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }

    .shutdown .confirm {
      color: var(--destructive-color);
      animation-name: pulse;
      animation-timing-function: ease-in;
    }
    .reboot .confirm {
      color: var(--success-color);
      animation-name: rotate;
      animation-timing-function: ease-in-out;
    }
  }
}

// Toggle buttons
button:checked {
  background-color: var(--accent-bg-color);
}
