.workspaces {
  padding: 4px;
  button {
    padding: 3.8px 8px;
  }
}

.right-widgets {
  padding: 2.5px;
}

.status-bar {
  border-radius: 10px;
}

.control-center {
  padding: 10px;
}

.quick-settings {
  button {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;

    .subtitle {
      font-size: 0.8em;
    }
  }
}
