@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  to { transform: rotate(360deg); }
}

.workspaces {
  padding: 4px;
  button {
    padding: 3.8px 8px;
  }
}

// Status bar
.right-widgets {
  padding: 2.5px;
}
.status-bar {
  border-radius: 10px;
}

.control-center {
  padding: 10px;

  .quick-settings {
    button {
      padding: 8px;
      padding-left: 20px;
      padding-right: 20px;

      .subtitle {
        font-size: 0.8em;
      }
    }
  }

  .action-bar {
    button .confirm {
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }

    .shutdown .confirm {
      color: var(--destructive-color);
      animation-name: pulse;
      animation-timing-function: ease-in;
    }
    .reboot .confirm {
      color: var(--success-color);
      animation-name: rotate;
      animation-timing-function: ease-in-out;
    }
  }
}

// Toggle buttons
button:checked {
  background-color: var(--accent-bg-color);
}
