.workspaces {
  padding: 4px;
  button {
    padding: 3.8px 8px;
  }
}

.right-widgets {
  padding: 2.5px;
}

.status-bar {
  background-color: var(--accent-bg-color);
  border-radius: 10px;

  button {
    background-color: transparent;
  }
}
